/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    color: #333;
}

/* BUTTONS */
button {
    padding: 10px;
    border: none;
    background: #2f80ed;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #1c60b3;
}

/* INPUTS */
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* HIDDEN */
.hidden {
    display: none;
}